@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeonik';
  src: url('../utils/font/AeonikTRIAL-Bold.otf') format('truetype');
  /* Add additional font weights and styles if needed */
}

/* Aeonik REGULAR */
@font-face {
  font-family: 'Aeonik Pro';
  src: url('../utils/font/AeonikProTRIAL-Regular.otf') format('truetype');
  /* Add additional font weights and styles if needed */
}

body{
  background-color: #f8f8f8 ;
}

.heading{
  font-family: 'Aeonik';
  
}

.small{
  font-family: 'Aeonik Pro';
}